# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#intellij files
*.iml
*.idea/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
camel-springboot/.gitignore
camel-springboot/.mvn/
camel-springboot/data/
camel-springboot/dataFile/
camel-springboot/mvnw
camel-springboot/mvnw.cmd
learncamel-eips/.classpath
learncamel-eips/.project
learncamel-eips/.settings/
learncamel-eips/target/*
learncamel-error-handling/.classpath
learncamel-error-handling/.project
learncamel-error-handling/.settings/
learncamel-error-handling/target/*
learncamel-kafka2DB/.classpath
learncamel-kafka2DB/.project
learncamel-kafka2DB/.settings/
learncamel-kafka2DB/target/*
learncamel-rest2DB/.classpath
learncamel-rest2DB/.project
learncamel-rest2DB/.settings/
learncamel-simple-file/.classpath
learncamel-simple-file/.project
learncamel-simple-file/.settings/
learncamel-simple-file/target/*

/learncamel-rest2DB/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/learncamel-rest2DB/target/maven-archiver/pom.properties
camel-springboot/src/main/resources/static/
camel-springboot/src/main/resources/templates/
learncamel-eips/all/Employee.json
learncamel-eips/all/Index.html
learncamel-eips/all/input.txt
learncamel-eips/debug/Employee.json
learncamel-eips/debug/Index.html
learncamel-eips/debug/input.txt
learncamel-eips/output1/Employee.json
learncamel-eips/output1/Index.html
learncamel-eips/output1/input.txt
learncamel-eips/output2/Employee.json
learncamel-eips/output2/Index.html
learncamel-eips/output2/input.txt
learncamel-eips/xmljunior/
learncamel-eips/xmlsenior/
camel-springboot/.classpath
camel-springboot/.project
camel-springboot/.settings/org.eclipse.core.resources.prefs
camel-springboot/.settings/org.eclipse.jdt.apt.core.prefs
camel-springboot/.settings/org.eclipse.jdt.core.prefs
camel-springboot/.settings/org.eclipse.m2e.core.prefs
camel-springboot/target/classes/application.properties
